{% extends "header.html"%}
{% block header %}
 <!-- Main Body Section -->

 <body style="height:2000px; background-color:#454a4f">
    <!-- Make a Carousel -->
    <div id="myCarousel" class="carousel slide" data-bs-interval="5000" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <!-- First Carousel Item -->
            <div class="carousel-item active">
                <img src="../static/img/Melbourne_Carousel.png" class="d-block w-100 object" alt="...">
                <div class="carousel-caption">
                    <h1>Hey Melbourne!</h1>
                    <p>Want to participate in something cooler than the Melbourne Cup? Well you are at the right
                        place,
                        see the hundreds of Hackathons hosted by our community.</p>
                    <a data-bs-toggle="modal" data-bs-target="#EventModal" href="#" class="btn btn-lg btn-primary">
                        Upcoming Melbourne Hackathons
                    </a>
                </div>
            </div>
            <!-- Second Carousel Item-->
            <div class="carousel-item">
                <img src="../static/img/Brisbane_Carousel.png" class="d-block w-100 object" alt="...">
                <div class="carousel-caption">
                    <h1>Welcome Brisbanites!</h1>
                    <p>Check out our Brisbane Community-Run Hackathon's. Learn and participate in events ranging
                        from
                        making simple web applications to building the next Windows operating system.</p>
                    <a data-bs-toggle="modal" data-bs-target="#EventModal" href="#" class="btn btn-lg btn-primary">
                        Upcoming Brisbane Hackathons
                    </a>
                </div>
            </div>
            <!-- Third Carousel Item -->
            <div class="carousel-item">
                <img src="../static/img/Sydney_Carousel.png" class="d-block w-100 object" alt="...">
                <div class="carousel-caption">
                    <h1>We've made it to Sydney!</h1>
                    <p>With community organisers now in Sydney, we are planning to bring Hackathons into the most
                        populus city in Australia. Get ready to Hack On!</p>

                    <a href="#" data-bs-toggle="modal" data-bs-target="#EventModal" class="btn btn-lg btn-primary">
                        Upcoming Sydney Hackathons
                    </a>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- End of Carousel Section -->
    <!-- Start of Event Categories -->
    <h1 class="mt-4 mb-4">Hackathon Categories</h1>
    <div class="container">
        <div class="row">
            <div class="image-column">
                <div class="text-over-image image-links">
                    <a href="/category/codingcompetition">
                    <img src="../static/img/coding_comp.jpg" />
                    <div class="centered">
                            <h3>Coding Compeition</h3>
                        </a>
                    </div>
                </div>
                <div class="text-over-image image-links">
                    <a href="/category/robotics">
                    <img src="../static/img/robotics.jpg" />
                    <div class="centered">
                            <h3>Robotics</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="image-column">
                <div class="text-over-image image-links">
                    <a href="/category/datathon">
                    <img src="../static/img/data.jpg"/>
                    <div class="centered">
                            <h3>Datathon</h3>
                        </a>
                    </div>
                </div>
                <div class="text-over-image image-links">
                    <a href="/category/ideapitch">
                    <img src="../static/img/presentation.jpg">
                    <div class="centered">
                            <h3>Idea Pitch</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="image-column">
                <div class="text-over-image image-links">
                    <a href="/category/hackathon">
                    <img src="../static/img/online.jpg"/>
                    <div class="centered">
                            <h3>Hackathon</h3>
                        </a>
                    </div>
                </div>
                <div class="text-over-image image-links">
                    <a href="/category/businessprop">
                    <img src="../static/img/business.jpg" />
                    <div class="centered">
                            <h3>Business Proposal</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="image-column">
                <div class="text-over-image image-links">
                    <a href="/category/businesscase">
                    <img src="../static/img/business_case.jpg"/>
                    <div class="centered">
                            <h3>Business Case Competition</h3>
                        </a>
                    </div>
                </div>
                <div class="text-over-image image-links">
                    <a href="/category/seminar">
                    <img src="../static/img/seminar.jpg" />
                    <div class="centered">
                            <h3>Seminars</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="mt-4 mb-4">Upcoming Events</h1>
    <div class="container">
        <div class="row justify-content-between" id="UpcomingEvent">
            <div class="col-xl-6">
                <div class="overlay-image"><a class="navbar-brand" href="/event">
                    <button id="close-image" class="btn"><img src="../static/img/qut.jpg">
                    <div class="hover">
                        <div class="info">
                            <p>QUT Coding Compeition</p>
                            <p>Location: QUT Garden's Point Campus</p>
                            <p>Status: Open</p>
                        </div>
                    </div>
                </button></a></div>
            </div>
            <div class="col-xl-6">
                <div class="overlay-image"><a class="navbar-brand" href="/event">
                    <button id="close-image" class="btn"><img src="../static/img/qut.jpg">
                    <div class="hover">
                        <div class="info">
                            <p>QUT Coding Compeition</p>
                            <p>Location: QUT Garden's Point Campus</p>
                            <p>Status: Open</p>
                        </div>
                    </div>
                </button></a></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="EventModal" tabindex="-1" aria-labelledby="EventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EventModalLabel">Coding Compeitions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3 id="title">QUT Coding Competition</h3>
                    <p>Hosted at QUT's Garden Point Campus.</p>
                    <button type="button" class="btn btn-warning">Upcoming</button>
                    <a href="booking.html"><button type="button" class="btn btn-primary">Select</button></a>
                    <hr>
                    <h3 id="title">UQ Coding Competition</h3>
                    <p>Hosted at UQ's St Lucia. Campus.</p>
                    <button type="button" class="btn btn-danger">Cancelled</button>
                    <a href="booking.html"><button type="button" class="btn btn-primary">Select</button></a>
                    <hr>
                    <h3 id="title">AI Platformer Coding Compeition</h3>
                    <p> Make a simple platformer game based on a set AI Model.</p>
                    <button type="button" class="btn btn-success">Booked</button>
                    <a href="booking.html"><button type="button" class="btn btn-primary">Select</button></a>
                    <hr>
                    <h3 id="title">Mechatronics Coding Compeition</h3>
                    <p>Work with a team of four to develop a machine learning algortihm for production robots.</p>
                    <button type="button" class="btn btn-secondary">Inactive</button>
                    <a href="booking.html"><button type="button" class="btn btn-primary">Select</button></a>
                </div>
                <div class="modal-footer">
                    <a href="booking.html"><button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">View
                            More</button></a>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}

   