{% extends "header.html"%}
{% block header %}
<body id="category">
    <div class="container py-5" id="categorytitle">
        <div class="row">
            <div class="event-info-section">
                <h1 class="">Hackathon</h1>
            </div>
        </div>
    </div>
    <div class="container py-6" id="categorycontent">
        {% for categories in category %}
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-12">
                <div class="card shadow-0 border">
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <div class="row justify-content-between">
                                    <div class="col-md-1 justify-content-sm-between">
                                        <a class="imagebutton" href="/event/{{categories.id}}" id="small-img">
                                            <img src="../static/userimg{{catgories.image}}" class="img-fluid"/>
                                        </a>
                                    </div>
                                    <div class="col-xl-6 justify-content-sm-evenly">
                                        <p class="titlefont"><b>{{categories.event_name}}</b></p>
                                        <p class="datefont">{{categories.date}}</p>
                                        <p class="locationfont">{{categories.location}}</p>
                                        <p class="statusfont">Status: {{categories.status}}</p>
                                    </div>
                                    <div class="col-3" id="button"> <br>
                                        <a href="/event/{{categories.id}}"><button class="create-btn" type="button">Book Now</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <br>
        {% endfor %}
    </div>
</body>

{% endblock %}