<!DOCTYPE html>
<html>
{% extends "header.html"%}
{% block header %}

<body>


    <img class="bg" src="../static/img/brisbane-local-marketing-nHiPAtsZcCo-unsplash.jpg">
    <div class="overlay">
        <br> <br> <br> <br> <br> <br> <br>
        <!--Event Creation-->
        <div class="container" id="create_event">
            <br>
            <h2 style="text-align: center">Create Event</h2>
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('main.create_event') }}">
                {{ form.csrf_token }}

                <!-- Event Name -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{form.event_name.label}}
                            {{form.event_name(class="form-control", placeholder ="Enter Event Name")}}
                            {% if form.event_name.errors %}
                                <ul class="errors">
                                    {% for error in form.event_name.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div> <br>

                <!-- Event Description -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{form.event_description.label}}
                            {{form.event_description(class="form-control", placeholder ="Enter Event Description")}}
                        </div>
                    </div>
                </div> <br>

                <!-- Event Date -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{form.event_date.label}}
                            {{form.event_date(class="form-control")}}
                            {% if validate_date.errors %}
                                <ul class="errors">
                                    {% for error in validate_date.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div> <br>

                <!-- Event Location -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{form.event_location.label}}
                            {{form.event_location(class="form-control", placeholder ="Enter Event Location")}}
                        </div>
                    </div>
                </div> <br>

                <!-- Ticket Quantity -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{form.ticket_quantity.label}}
                            {{form.ticket_quantity(class="form-control", placeholder ="Enter Ticket Quantity",
                            min="1")}}
                            {% if form.ticket_quantity.errors %}
                                <ul class="errors">
                                    {% for error in form.ticket_quantity.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div> <br>

                <!-- Ticket Price -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{form.ticket_price.label}}
                            {{form.ticket_price(class="form-control", placeholder ="Enter Ticket Price", min="1")}}
                            {% if form.ticket_price.errors %}
                                <ul class="errors">
                                    {% for error in form.ticket_price.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div> <br>

                <!-- Select Category from list -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{form.event_category.label}}
                            {{form.event_category(class="form-control")}}
                        </div>
                    </div>
                </div> <br>


                <!-- Event and Online Status -->
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            {{form.event_status.label}}
                            {{form.event_status(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{form.online_event.label}}
                            {{form.online_event(class="form-control")}}
                        </div>
                    </div>
                </div> <br>
                <!-- Event Image -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Event Image</label><br>
                            <input type="file" name="file"/>
                        </div>
                    </div>
                </div> <br>


                <!-- Create Button -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{ form.submit (class="btn btn-primary create-btn") }}
                        </div>
                    </div>
                </div> <br>

            </form>
        </div>
    </div>
</body>

{% endblock %}

</html>