{% extends "header.html"%}
{% block header %}
<body> 
    <br>
    <!-- Registration -->
    <div class="container" id="register">
        <h2 style="text-align: center">REGISTER</h2>
        <form method="POST" action="{{ url_for('main.register') }}">
            {{ form.csrf_token }}

            <!-- Username -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{form.user_name.label}}
                        {{form.user_name(class="form-control", placeholder ="Please Enter your Username")}}
                    </div> 
                </div>
            </div> <br>

            <!-- Email ID -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{form.email_id.label}}
                        {{form.email_id(class="form-control", placeholder ="Please Enter your Email Address")}}
                    </div> 
                </div>
            </div> <br>

            <!-- Password -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{form.password.label}}
                        {{form.password(class="form-control", placeholder ="Please Enter your Password")}}
                    </div> 
                </div> 
            </div> <br>

            <!-- Confirm Password -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{form.confirm.label}}
                        {{form.confirm(class="form-control", placeholder ="Please re-enter Password")}}
                    </div> 
                </div> 
            </div> <br>

            <!-- Contact Number -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{form.contact_number.label}}
                        {{form.contact_number(class="form-control", placeholder ="Please Enter Contact Number
                        ")}}
                    </div>
                </div> 
            </div> <br>

            <!-- Address -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{form.address.label}}
                        {{form.address(class="form-control", placeholder ="Please Enter Address")}}
                    </div> 
                </div> 
            </div> <br>

            <!-- Submit Button -->
            <div class="row">
                <div class="col-12 text-center">
                    <div class="form-group">
                        {{ form.submit(class="btn btn-dark") }}
                    </div>
                </div>
                <!-- Sign In Link-->
                <a href="login.html">Already have an Account?</a>
            </div> <br>
        </form>
    </div>
</body>
{% endblock %}