{% extends "header.html"%}
{% block header %}

<body>
    <img class="bg" src="../static/img/brisbane-local-marketing-nHiPAtsZcCo-unsplash.jpg">
    <div class="overlay">
        <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <!-- SignIn -->
        <div class="container" id="signin">
            <br>
            <h2 style="text-align: center">SIGN IN</h2>
            <form method="POST" action="">
                {{ form.csrf_token }}

                <!-- Username -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{form.loginusername.label}}
                            {{form.loginusername(class="form-control", placeholder ="Enter your Username")}}
                        </div>
                    </div>
                </div> <br>

                <!-- Password -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{form.loginpassword.label}}
                            {{form.loginpassword(class="form-control", placeholder ="Enter your Password")}}
                        </div>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{form.RememberMe()}} {{form.RememberMe.label}} 
                        </div> 
                    </div> 
                </div> <br>
                <!-- Submit Button -->
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="form-group">
                            {{ form.submit(class="create-btn") }}
                        </div>
                    </div>
                    <!-- Sign In Link-->
                    <a href="{{ url_for('auth.register') }}"">Register?</a>
                </div> <br>
            </form>
        </div>
    </div>
</body>
{% endblock %}