<!DOCTYPE html>
<html>
{% extends "header.html"%}
{% block header %}

<body>
    <img class="bg" src="../static/img/brisbane-local-marketing-nHiPAtsZcCo-unsplash.jpg">
    <div class="overlay">
        <br> <br> <br> <br> <br> <br> <br>

        <!-- Booking History -->
        <div class="container" id="my_account">
            <br>
            <h3>Hello {{current_user.username}}! Welcome to your accounts page.</h3><hr class="rounded">
            <h3>Booking History</h3>
            <br>
            
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr id="table_titles">
                                <th scope="col"></th>
                                <th scope="col">Event Name</th>
                                <th scope="col">Date Booked ↓</th>
                                <th scope="col">Booking ID</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                            <tr>
                                <th scope="row"><img src="../static/userimg{{event.image}}" alt="placeholder" width="180"
                                        height="100"></th>
                                <td>{{booking.event_name}}</td>
                                <td>{{booking.date}}</td>
                                <td>{{booking.id}}</td>
                                <td>${{booking.price}}</td>
                                <td>{{booking.status}}</td>
                                <td><a href="/event/{{event.id}}"><button class="btn btn-primary create-btn">View</button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <br><br>
        <!-- Users Created Events -->
        <div class="container" id="my_account">
            <br>
            <h3>Created Events</h3>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr id="table_titles">
                                <th scope="col"></th>
                                <th scope="col">Event Name</th>
                                <th scope="col">Date Created ↓</th>
                                <th scope="col">Event ID</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                            <tr>
                                <th scope="row"><img src="/static/userimg/{{event.image}}" alt="placeholder" width="180"
                                        height="100"></th>
                                <td>{{event.event_name}}</td>
                                <td>{{event.date}}</td>
                                <td>{{event.id}}</td>
                                <td>{{event.price}}</td>
                                <td>Booked</td>
                                <td><button class="btn btn-primary create-btn">Edit</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>

{% endblock %}

</html>