/*--------------------------------------------------*/
/*                    Nav bar                       */
/*--------------------------------------------------*/

.navbar-nav-right {
    margin-left: auto;
}


.navbar ul li a {
    display: block;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.navbar ul li a.active {
    background-color: #da8300;
    border-radius: 5px;
}

.navbar-nav a:hover {
    background-color: #da8300;
    color: white;
    border-radius: 5px;
}

.navbar .navbar-btn {
    background-color: transparent;
    color: #3988ff;
    border: 1px solid #3988ff;
    padding: 7px;
    width: 100%;
    border-radius: 5px;
}

.navbar .navbar-btn:hover {
    color: white;
    background-color: #3988ff;
    border-radius: 5px;
    transition: 0.25s ease;
}

.navbar .dropdown-menu {
    background-color: #212529;
    border-radius: 5px;
}

.navbar .dropdown-menu a:hover {
    max-width: 94%;
    background-color: #da8300;
    color: white;
    border-radius: 5px;
}

/*--------------------------------------------------*/
/*                       Body                       */
/*--------------------------------------------------*/

body {
    padding-top: 70px;
}

.carousel-item {
    height: 32rem;
    background: rgb(48, 48, 48);
    color: white;
    position: relative;
}

.carousel-item>img {
    object-position: center;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#UpcomingEvent img {
    display: block;
    height: 100%;
    width: 100%;
}


.overlay-image {
    position: relative;
}


#close-image .info {
    color: #fff;
    font-size: 20px;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#close-image .hover {
    position: absolute;
    top: 1%;
    height: 97.8%;
    width: 96.5%;
    opacity: 0;
    transition: .5s ease;
}


#close-image:hover .hover {
    opacity: 1;
}

#close-image .normal {
    transition: .5s ease;
}

#close-image:hover .normal {
    opacity: 0;
}

#close-image .hover {
    background-color: rgba(66, 66, 66, 0.5);
}

/*--------------------------------------------------*/
/*             Create four equal columns            */
/*            that sits next to each other          */
/*--------------------------------------------------*/
.image-column {
    flex: 25%;
    max-width: 75%;
    padding: 0 4px;
}

.image-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(0.1) brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
    max-height: 200px;
    min-height: 100px;
    height: auto
}

.image-column img:hover {
    filter: grayscale(0);
}


.text-over-image {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered h3{
    font-size: 15px;
}


.image-links a {
    color: #ffffff;
    text-decoration: none;
}

.img-qut {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
    height: auto;
}


::placeholder {
    text-align: center;
}

#title {
    color: black;
}



/*--------------------------------------------------*/
/*                Booking History                   */
/*--------------------------------------------------*/
#booking_history {
    max-width: 75%;
    background-color: #454a4f;
    border-radius: 5px;
    max-width: 900px;
}


#booking_table_titles {
    color: white;
    border-bottom: #da8300 1.5px solid;
}

#booking_history table td {
    color: white;
}



/*--------------------------------------------------*/
/*                 Create Events Page               */
/*--------------------------------------------------*/
#create_event {
    max-width: 75%;
    background-color: #454a4f;
    border-radius: 5px;
    max-width: 900px;
}

#create_event .form-control {
    color: white;

    background-color: #383838;
    border: 1px solid #383838;
    border-radius: 5px;
}

#create_event .form-control:focus {
    border-color: #da8300;
    box-shadow: 0 0 0 0.2rem rgba(218, 131, 0, 0.25);
}

#create_event ::placeholder {
    color: #ffffff;
    text-align: left;
    opacity: 50%;
    font-size: small;
}


#create_event .create-btn {
    background-color: transparent;
    color: #da8300;
    border: 1px solid #da8300;
    padding: 7px;
    width: 100%;
    border-radius: 5px;
}

#create_event .create-btn:hover {
    background-color: #da8300;
    color: white;
}



/*--------------------------------------------------*/
/*                Registration Page                 */
/*--------------------------------------------------*/
#register {
    max-width: 75%;
    background-color: #454a4f;
    border-radius: 5px;
    max-width: 900px;
}

img.bg {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}


#register .form-control {
    color: white;
    background-color: #383838;
    border: 1px solid #383838;
    border-radius: 5px;
}


#register ::placeholder {
    color: #ffffff;
    text-align: left;
    opacity: 50%;
    font-size: small;
}

#register a {
    color: #ffffffff;
}



#register .create-btn {
    background-color: transparent;
    color: #da8300;
    border: 1px solid #da8300;
    padding: 7px;
    width: 100%;
    border-radius: 5px;
}

#register .create-btn:hover {
    background-color: #da8300;
    color: white;
}

div.form-group {
    color: #dbdbdb;
}

#register .form-control:focus {
    border-color: #da8300;
    box-shadow: 0 0 0 0.2rem rgba(218, 131, 0, 0.25);
}



/*--------------------------------------------------*/
/*                   Sign In Page                   */
/*--------------------------------------------------*/
#signin {
    max-width: 75%;
    background-color: #454a4f;
    border-radius: 5px;
    max-width: 800px;
}



#signin .form-control {
    color: white;
    background-color: #383838;
    border: 1px solid #383838;
    border-radius: 5px;
}


#signin ::placeholder {
    color: #ffffff;
    text-align: left;
    opacity: 50%;
    font-size: small;
}

#signin a {
    color: #ffffffff;
}


#signin .create-btn {
    background-color: transparent;
    color: #da8300;
    border: 1px solid #da8300;
    padding: 7px;
    width: 100%;
    border-radius: 5px;
}

#signin .create-btn:hover {
    background-color: #da8300;
    color: white;
}

#signin .form-control:focus {
    border-color: #da8300;
    box-shadow: 0 0 0 0.2rem rgba(218, 131, 0, 0.25);
}



/*--------------------------------------------------*/
/*                   View Events                    */
/*--------------------------------------------------*/

#event {
    max-width: 75%;
    background-color: #454a4f;
    border-radius: 5px;
    max-width: 900px;
}

#event .event-info-section {
    text-align: center;
    color: white;
}

#event strong {
    text-decoration: underline;
}

#event .book-btn {
    background-color: transparent;
    color: #da8300;
    border: 1px solid #da8300;
    padding: 7px;
    width: 200px;
    border-radius: 5px;
}

#event .book-btn:hover {
    background-color: #da8300;
    color: white;
}

#event .form-control:focus {
    border-color: #da8300;
    box-shadow: 0 0 0 0.2rem rgba(218, 131, 0, 0.25);
}


#event .form-control:focus {
    border-color: #da8300;
    box-shadow: 0 0 0 0.2rem rgba(218, 131, 0, 0.25);
}

#event .fw-bold {
    color: White;
}

#event-comments {
    max-width: 75%;
    background-color: #454a4f;
    border-radius: 5px;
    max-width: 900px;
}


/*--------------------------------------------------*/
/*                   Booking Modal                  */
/*--------------------------------------------------*/
#BookModal .divider {
    align-items: center;
    max-width: 75%;
    border: 1px solid #383838;
    border-radius: 5px;
    max-width: 250px;
}

#BookModal .icons {
    max-width: 75%;
    border: 1px solid #383838;
    border-radius: 5px;
    max-width: 150px;
}

#BookModal .form-group {
    color: rgb(0, 0, 0);
}



/*--------------------------------------------------*/
/*                   category page                  */
/*--------------------------------------------------*/
#category {
    background-color: #454a4f;
}

#small-img img{
    max-width: 150px;
    border: 1px solid #222222;
    border-radius: 5px;
    max-height: 150px;
}

#categorytitle h1{
    color: rgb(255, 255, 255);
}

.titlefont{
    font-size: 20px;
    font-weight: bold;
    color: #da8300;
    margin-bottom: 0;
}

.datefont{
    font-size: 15px;
    margin-bottom: 0;
}

.locationfont{
    font-size: 15px;
    margin-bottom: 0;
}

.statusfont{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
}


#button .create-btn{
    background-color: transparent;
    color: #da8300;
    border: 1px solid #da8300;
    width: 50px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
}

#button .create-btn:hover {
    background-color: #da8300;
    color: white;
}












@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 680px) {
    .column {
        flex: 100%;
    }

    .column img {
        filter: grayscale(0) brightness(1);
    }
}